{% extends "base.html" %}
{% load static %}

{% block title %}
سبد خرید | فروشگاه اینترنتی راش‌چوب
{% endblock title %}

{% block content %}
    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>سبد خرید</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">سبد خرید</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Cart Section Start -->
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>
                                    {% for product in products %}
                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <h4 class="table-title text-content">محصول</h4>
                                            <div class="product border-0">
                                                <a href="product-left-thumbnail.html" class="product-image">
                                                    <img src="{{ product.product.cover.url }}"
                                                        class="img-fluid blur-up lazyload" alt="{{ product.product.name }}">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="{% url 'store:product-details' slug=product.product.slug %}">{{ product.product.name }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="quantity">
                                            <h4 class="table-title text-content">مدل</h4>
                                            <div class="quantity-price">
                                                <div class="cart_qty">
                                                    <div class="input-group">
                                                        <h4>{{ product.capacity.title }}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="price">
                                            <h4 class="table-title text-content">قیمت</h4>
                                            <div class="quantity-price">
                                                {% if product.on_sale != '0' %}
                                                <h4><del class="text-content">{{ product.price }}</del></h4>
                                                <h6 class="theme-color">با تخفیف : {{ product.on_sale }}</h6>
                                                {% else %}
                                                <h6 class="theme-color">{{ product.price }}</h6>
                                                {% endif %}
                                            </div>
                                        </td>

                                        <td class="save-remove">
                                            <h4 class="table-title text-content">عملیات</h4>
                                            <h5><a class="remove close_button" href="{% url 'store:cart-remove' id=product.pk %}">حذف</a></h5>
                                        </td>
                                    </tr>
                                </form>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="summery-header">
                            <h3>صورت حساب</h3>
                        </div>

                        <div class="summery-contain">
                            <div class="coupon-cart">
                            </div>
                            <ul>
                                <li>
                                    <h4>جمع کل</h4>
                                    <h4 class="price">{{ total_price }} تومان</h4>
                                </li>

                                <li class="align-items-start">
                                    <h4>سود شما</h4>
                                    <h4 class="price text-end">{{ sale }} تومان</h4>
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total">
                            <li class="list-total border-top-0">
                                <h4>جمع قابل پرداخت</h4>
                                <h4 class="price theme-color">{{ total_on_sale }} تومان</h4>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button onclick="location.href = 'checkout.html';"
                                        class="btn btn-animation proceed-btn fw-bold">پرداخت</button>
                                </li>

                                <li>
                                    <button onclick="location.href='{% url 'store:index' %}';"
                                        class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-right-long"></i>بازگشت به فروشگاه</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->


{% endblock content %}