{% extends "base.html" %}
{% load static %}

{% block title %}
سبد خرید | فروشگاه اینترنتی راش‌چوب
{% endblock title %}

{% block content %}
    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>سبد خرید</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">سبد خرید</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Cart Section Start -->
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>
                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">
                                                <a href="product-left-thumbnail.html" class="product-image">
                                                    <img src="../assets/images/vegetable/product/1.png"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="product-left.html">ناگت مرغ</a>
                                                        </li>

                                                        <li class="text-content"><span class="text-title">سازنده :</span> نام برند</li>

                                                        <li class="text-content"><span
                                                                class="text-title">مقدار </span> : 500 گرم</li>

                                                        <li>
                                                            <h5 class="text-content d-inline-block">قیمت :</h5>
                                                            <span>35.000 تومان</span>
                                                            <span class="text-content">45.000 تومان</span>
                                                        </li>

                                                        <li>
                                                            <h5 class="saving theme-color">تخفیف : 20.000</h5>
                                                        </li>

                                                        <li class="quantity-price-box">
                                                            <div class="cart_qty">
                                                                <div class="input-group">
                                                                    <button type="button" class="btn qty-left-minus"
                                                                        data-type="minus" data-field="">
                                                                        <i class="fa fa-minus ms-0"></i>
                                                                    </button>
                                                                    <input class="form-control input-number qty-input"
                                                                        type="text" name="quantity" value="0">
                                                                    <button type="button" class="btn qty-right-plus"
                                                                        data-type="plus" data-field="">
                                                                        <i class="fa fa-plus ms-0"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <h5>جمع کل : 35.000</h5>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="price">
                                            <h4 class="table-title text-content">قیمت</h4>
                                            <h5>35.000<del class="text-content">45.680</del></h5>
                                            <h6 class="theme-color">سود شما : 20.680</h6>
                                        </td>

                                        <td class="quantity">
                                            <h4 class="table-title text-content">تعداد</h4>
                                            <div class="quantity-price">
                                                <div class="cart_qty">
                                                    <div class="input-group">
                                                        <button type="button" class="btn qty-left-minus"
                                                            data-type="minus" data-field="">
                                                            <i class="fa fa-minus ms-0"></i>
                                                        </button>
                                                        <input class="form-control input-number qty-input" type="text"
                                                            name="quantity" value="0">
                                                        <button type="button" class="btn qty-right-plus"
                                                            data-type="plus" data-field="">
                                                            <i class="fa fa-plus ms-0"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="subtotal">
                                            <h4 class="table-title text-content">جمع کل</h4>
                                            <h5>35.100</h5>
                                        </td>

                                        <td class="save-remove">
                                            <h4 class="table-title text-content">عملیات</h4>
                                            <a class="save notifi-wishlist" href="javascript:void(0)">افزودن به سبد خرید بعدی</a>
                                            <a class="remove close_button" href="javascript:void(0)">حذف</a>
                                        </td>
                                    </tr>

                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">
                                                <a href="product-left-thumbnail.html" class="product-image">
                                                    <img src="../assets/images/vegetable/product/2.png"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="product-left.html">نوشیدنی انرژی زا</a>
                                                        </li>

                                                        <li class="text-content"><span class="text-title">سازنده :</span> نتسو
                                                        </li>

                                                        <li class="text-content"><span
                                                                class="text-title">مقدار</span> : 250 گرم</li>

                                                        <li>
                                                            <h5 class="text-content d-inline-block">قیمت :</h5>
                                                            <span>35.10</span>
                                                            <span class="text-content">45.680</span>
                                                        </li>

                                                        <li>
                                                            <h5 class="saving theme-color">تخفیف : 26.680</h5>
                                                        </li>

                                                        <li class="quantity">
                                                            <div class="quantity-price">
                                                                <div class="cart_qty">
                                                                    <div class="input-group">
                                                                        <button type="button" class="btn qty-left-minus"
                                                                            data-type="minus" data-field="">
                                                                            <i class="fa fa-minus ms-0"
                                                                                aria-hidden="true"></i>
                                                                        </button>
                                                                        <input
                                                                            class="form-control input-number qty-input"
                                                                            type="text" name="quantity" value="0">
                                                                        <button type="button" class="btn qty-right-plus"
                                                                            data-type="plus" data-field="">
                                                                            <i class="fa fa-plus ms-0"
                                                                                aria-hidden="true"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <h5>جمع کل: 52.690</h5>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="price">
                                            <h4 class="table-title text-content">قیمت</h4>
                                            <h5>$52.95 <del class="text-content">68.490</del></h5>
                                            <h6 class="theme-color">سود شما : 15.140</h6>
                                        </td>

                                        <td class="quantity">
                                            <h4 class="table-title text-content">تعداد</h4>
                                            <div class="quantity-price">
                                                <div class="cart_qty">
                                                    <div class="input-group">
                                                        <button type="button" class="btn qty-left-minus"
                                                            data-type="minus" data-field="">
                                                            <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                        </button>
                                                        <input class="form-control input-number qty-input" type="text"
                                                            name="quantity" value="0">
                                                        <button type="button" class="btn qty-right-plus"
                                                            data-type="plus" data-field="">
                                                            <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="subtotal">
                                            <h4 class="table-title text-content">جمع کل</h4>
                                            <h5>52.980</h5>
                                        </td>

                                        <td class="save-remove">
                                            <h4 class="table-title text-content">عملیات</h4>
                                            <a class="save notifi-wishlist" href="javascript:void(0)">افزودن به سبد خرید بعدی</a>
                                            <a class="remove close_button" href="javascript:void(0)">حذف</a>
                                        </td>
                                    </tr>

                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">
                                                <a href="product-left.html" class="product-image">
                                                    <img src="../assets/images/vegetable/product/3.png"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="product-left.html">بیسکویت</a>
                                                        </li>

                                                        <li class="text-content"><span class="text-title">سازنده :</span> بسکت</li>

                                                        <li class="text-content"><span
                                                                class="text-title">مقدار</span> : 750 گرم</li>

                                                        <li>
                                                            <h5 class="text-content d-inline-block">قیمت :</h5>
                                                            <span>35.100</span>
                                                            <span class="text-content">45.680</span>
                                                        </li>

                                                        <li>
                                                            <h5 class="saving theme-color">تخفیف : 20.680</h5>
                                                        </li>

                                                        <li class="quantity">
                                                            <div class="quantity-price">
                                                                <div class="cart_qty">
                                                                    <div class="input-group">
                                                                        <button type="button" class="btn qty-left-minus"
                                                                            data-type="minus" data-field="">
                                                                            <i class="fa fa-minus ms-0"
                                                                                aria-hidden="true"></i>
                                                                        </button>
                                                                        <input
                                                                            class="form-control input-number qty-input"
                                                                            type="text" name="quantity" value="0">
                                                                        <button type="button" class="btn qty-right-plus"
                                                                            data-type="plus" data-field="">
                                                                            <i class="fa fa-plus ms-0"
                                                                                aria-hidden="true"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <h5>جمع کل : 67.360</h5>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="price">
                                            <h4 class="table-title text-content">قیمت</h4>
                                            <h5>67.360 <del class="text-content">96.680</del></h5>
                                            <h6 class="theme-color">سود شما : 29.220</h6>
                                        </td>

                                        <td class="quantity">
                                            <h4 class="table-title text-content">تعداد</h4>
                                            <div class="quantity-price">
                                                <div class="cart_qty">
                                                    <div class="input-group">
                                                        <button type="button" class="btn qty-left-minus"
                                                            data-type="minus" data-field="">
                                                            <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                        </button>
                                                        <input class="form-control input-number qty-input" type="text"
                                                            name="quantity" value="0">
                                                        <button type="button" class="btn qty-right-plus"
                                                            data-type="plus" data-field="">
                                                            <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="subtotal">
                                            <h4 class="table-title text-content">جمع کل</h4>
                                            <h5>67.360</h5>
                                        </td>

                                        <td class="save-remove">
                                            <h4 class="table-title text-content">عملیات</h4>
                                            <a class="save notifi-wishlist" href="javascript:void(0)">افزودن به سبد خرید بعدی</a>
                                            <a class="remove close_button" href="javascript:void(0)">حذف</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="summery-header">
                            <h3>صورت حساب</h3>
                        </div>

                        <div class="summery-contain">
                            <div class="coupon-cart">
                                <h6 class="text-content mb-2">کد تخفیف</h6>
                                <div class="mb-3 coupon-box input-group">
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="کد تخفیف را وارد کنید">
                                    <button class="btn-apply">ثبت</button>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <h4>جمع کا</h4>
                                    <h4 class="price">125.650 تومان</h4>
                                </li>

                                <li>
                                    <h4>کد تخفیف</h4>
                                    <h4 class="price">(-) 0.00</h4>
                                </li>

                                <li class="align-items-start">
                                    <h4>هزینه پست</h4>
                                    <h4 class="price text-end">6.000 تومان</h4>
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total">
                            <li class="list-total border-top-0">
                                <h4>جمع نهایی</h4>
                                <h4 class="price theme-color">132.200 تومان</h4>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button onclick="location.href = 'checkout.html';"
                                        class="btn btn-animation proceed-btn fw-bold">پرداخت</button>
                                </li>

                                <li>
                                    <button onclick="location.href = 'index.html';"
                                        class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-right-long"></i>بازگشت به فروشگاه</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->


{% endblock content %}