{% extends "base.html" %}
{% load static %}
{% load jalali_tags %}

{% block title %}
قیمت و خرید {{ product.name }}
{% endblock title %}

{% block content %}
    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>{{ product.name }}</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>

                                <li class="breadcrumb-item active">{{ product.category.title }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Left Sidebar Start -->
    <section class="product-section">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
                    <div class="row g-4">
                        <div class="col-xl-6 wow fadeInUp">
                            <div class="product-left-box">
                                <div class="row g-sm-4 g-2">
                                    <div class="col-12">
                                        <div class="product-main no-arrow">
                                            {% for image in product.productimagemodel_set.all %}
                                            <div>
                                                <div class="slider-image">
                                                    <img src="{{ image.image.url}}" {% if forloop.counter == 1 %}id="img-1"{% endif %}
                                                        data-zoom-image="{{ image.image.url}}" class="
                                                        img-fluid image_zoom_cls-{{ forloop.counter0 }} blur-up lazyload" alt="{{ image.product.name }}">
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="left-slider-image left-slider no-arrow slick-top">
                                            {% for image in product.productimagemodel_set.all %}
                                            <div>
                                                <div class="sidebar-image">
                                                    <img src="{{ image.image.url }}"
                                                        class="img-fluid blur-up lazyload" alt="{{ image.product.name }}">
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="right-box-contain">
                                <h2 class="name">{{ product.name }}</h2>
                                <div class="price-rating">
                                    {% for p in product.productpricemodel_set.all %}
                                    {% if p.capacity.title == 'پایه' %}
                                    <h3 class="theme-color price">{% if p.price %}{{ p.price }}{% else %}0{% endif %} ریال</h3>
                                    {% endif %}
                                    {% endfor %}
                                    <div class="product-rating custom-rate">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                        </ul>
                                        <span class="review">اصالت کالا</span>
                                    </div>
                                </div>

                                <div class="product-contain">
                                    {% if product.feature|safe %}
                                    <p>{{ product.feature|safe }}</p>
                                    {% endif %}
                                </div>
                                <form method="post" action="{% url 'store:cart-submit' %}">
                                    {% csrf_token %}
                                <div class="product-package">
                                    <div class="product-title">
                                        <h4>مدل </h4>
                                    </div>

                                    <div class="select-package">
                                        <select class="form-control form-select" name="price" id="id_price" required>
                                            <option value="" selected="selected" hidden="hidden">انتخاب مدل</option>
                                            {% for i in product.productpricemodel_set.all %}
                                            {% if i.on_sale != "0" %}
                                            <option value="{{ i.pk }}">{{ i.capacity.title }}: {{ i.price }} ریال با تخفیف</option>
                                            {% else %}
                                            <option value="{{ i.pk }}">{{ i.capacity.title }}: {{ i.price }} ریال بدون تخفیف</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="note-box product-package">

                                    <input type="submit" value="افزودن به سبد خرید"
                                        class="btn btn-md bg-dark cart-button text-white w-100">
                                </div>
                                </form>
                                <div class="progress-sec">
                                    <div class="left-progressbar">
                                        <h6> دارای برگ گارانتی راش چوب</h6>
                                        <div role="progressbar" class="progress warning-progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                style="width: 100%;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pickup-box">
                                    <div class="product-title">
                                        <h4>اطلاعات محصول</h4>
                                    </div>

                                    <div class="product-info">
                                        <ul class="product-info-list product-info-list-2">
                                            <li>نوع : <a href="javascript:void(0)">{{ product.category.title }}</a></li>
                                            <li>کد محصول : <a href="javascript:void(0)">{% if product.code %}{{ product.code }}{% endif %}</a></li>
                                            <li>تاریخ ثبت : <a href="javascript:void(0)">{{ product.created_date|to_jalali:'%Y/%m/%d' }}</a></li>
                                            <li>موجود در انبار : <a href="javascript:void(0)">بله</a></li>
                                            <li>برچسب ها : 
                                                {% for i in product.hashtag.all %}
                                                <a href="javascript:void(0)">{{ i.title }}</a> 
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="payment-option">
                                    <div class="product-title">
                                        <h4>پرداخت ایمن با : </h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="product-section-box">
                                <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="description-tab" data-bs-toggle="tab"
                                            data-bs-target="#description" type="button" role="tab">توضیحات</button>
                                    </li>

                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="info-tab" data-bs-toggle="tab"
                                            data-bs-target="#info" type="button" role="tab">ویژگی محصول</button>
                                    </li>

                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="review-tab" data-bs-toggle="tab"
                                            data-bs-target="#review" type="button" role="tab">بازخورد</button>
                                    </li>
                                </ul>

                                <div class="tab-content custom-tab" id="myTabContent">
                                    <div class="tab-pane fade" id="description" role="tabpanel">
                                        <div class="product-description">
                                            <div class="nav-desh">
                                                <p>
                                                    {% if product.feature %}
                                                    {{ product.description|safe  }}
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade show active" id="info" role="tabpanel">
                                        <div class="table-responsive">
                                            <table class="table info-table">
                                                <tbody>
                                                    <tr>
                                                        <td>نام محصول</td>
                                                        <td>{{ product.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ابعاد(طول x عرض x ارتفاع)</td>
                                                        {% if product.length and product.width and product.height %}
                                                        <td>{{ product.length }} {{ product.width }} {{ product.height }}</td>
                                                        {% else %}
                                                        {% endif %}
                                                    </tr>
                                                    <tr>
                                                        <td>رنگ</td>
                                                        <td>
                                                            {% for i in product.color.all %}
                                                            {{ i.title }}،
                                                            {% endfor %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>جنس</td>
                                                        <td>{{ product.material }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>تعداد ظرفیت</td>
                                                        <td>
                                                            {% for i in prices %}
                                                            {{ i.capacity.title }}،
                                                            {% endfor %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="review" role="tabpanel">
                                        <div class="review-box">
                                            <div class="row">
                                                <div class="col-xl-5">
                                                    <div class="product-rating-box">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <div class="product-main-rating">
                                                                    <h2>{{ rate }}
                                                                        <i data-feather="star"></i>
                                                                    </h2>

                                                                    <h5>از 5</h5>
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-12">
                                                                <ul class="product-rating-list">
                                                                    <li>
                                                                        <div class="rating-product">
                                                                            <h5>5<i data-feather="star"></i></h5>
                                                                            <div class="progress">
                                                                                <div class="progress-bar"
                                                                                    style="width: {{ five_p }}%;">
                                                                                </div>
                                                                            </div>
                                                                            <h5 class="total">{{ five }}</h5>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="rating-product">
                                                                            <h5>4<i data-feather="star"></i></h5>
                                                                            <div class="progress">
                                                                                <div class="progress-bar"
                                                                                    style="width: {{ four_p }}%;">
                                                                                </div>
                                                                            </div>
                                                                            <h5 class="total">{{ four }}</h5>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="rating-product">
                                                                            <h5>3<i data-feather="star"></i></h5>
                                                                            <div class="progress">
                                                                                <div class="progress-bar"
                                                                                    style="width: {{ three_p }}%;">
                                                                                </div>
                                                                            </div>
                                                                            <h5 class="total">{{ three }}</h5>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="rating-product">
                                                                            <h5>2<i data-feather="star"></i></h5>
                                                                            <div class="progress">
                                                                                <div class="progress-bar"
                                                                                    style="width: {{ two_p }}%;">
                                                                                </div>
                                                                            </div>
                                                                            <h5 class="total">{{ two }}</h5>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="rating-product">
                                                                            <h5>1<i data-feather="star"></i></h5>
                                                                            <div class="progress">
                                                                                <div class="progress-bar"
                                                                                    style="width: {{ one_p }}%;">
                                                                                </div>
                                                                            </div>
                                                                            <h5 class="total">{{ one }}</h5>
                                                                        </div>
                                                                    </li>

                                                                </ul>

                                                                <div class="review-title-2">
                                                                    <h4 class="fw-bold">بازخورد این محصول</h4>
                                                                    <p>با ثبت بازخورد خود در خرید دیگران راهنمایی خوبی باشید</p>
                                                                    <button class="btn" type="button"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#writereview">ثبت دیدگاه شما</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-7">
                                                    <div class="review-people">
                                                        <ul class="review-list">
                                                            {% for i in comments %}
                                                            <li>
                                                                <div class="people-box">
                                                                    <div>
                                                                        <div class="people-image people-text">
                                                                            <img alt="کاربر" class="img-fluid "
                                                                                src="../assets/images/review/1.jpg">
                                                                        </div>
                                                                    </div>
                                                                    <div class="people-comment">
                                                                        <div class="people-name"><a
                                                                                href="javascript:void(0)"
                                                                                class="name">{{ i.user.first_name }} {{ i.user.last_name }}</a>
                                                                            <div class="date-time">
                                                                                <h6 class="text-content"> 
                                                                                    {{ i.created_date|to_jalali:"%Y/%M/%d"}}
                                                                                </h6>
                                                                                <div class="product-rating">
                                                                                    <ul class="rating">
                                                                                        {% if i.rate == 5 %}
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        {% elif i.rate == 4 %}
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"></i>
                                                                                        </li>
                                                                                        {% elif i.rate == 3 %}
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"></i>
                                                                                        </li>
                                                                                        {% elif i.rate == 2 %}
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"></i>
                                                                                        </li>
                                                                                        {% else %}
                                                                                        <li>
                                                                                            <i data-feather="star"
                                                                                                class="fill"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"></i>
                                                                                        </li>
                                                                                        <li>
                                                                                            <i data-feather="star"></i>
                                                                                        </li>
                                                                                        {% endif %}
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="reply">
                                                                            <p>{{ i.comment }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-4 col-lg-5 d-none d-lg-block wow fadeInUp">
                    <div class="right-sidebar-box">
                        <div class="vendor-box">
                            <div class="vendor-contain">
                                <div class="vendor-image">
                                    <img src="{% static 'assets/images/guarantee.jpg' %}" class="blur-up lazyload" alt="">
                                </div>

                                <div class="vendor-name">
                                    <h5 class="fw-500">گارانتی معتبر</h5>

                                </div>
                            </div>
                            <a href="{% static 'assets/images/guarantee.jpg' %}" target="_blank"><img src="{% static 'assets/images/guarantee.jpg' %}" class="blur-up lazyload" alt="گارانتی راش چوب" style="max-width:-webkit-fill-available;width:-moz-available"></a>
                            <div class="vendor-list">
                                <ul>
                                    <li>
                                        <div class="address-contact">
                                            <i class="fa fa-address-card-o"></i>
                                            <h5>گارانتی معتبر : <span class="text-content rtl-pad">راش چوب</span></h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Trending Product -->
                        <div class="pt-25">
                            <div class="category-menu">
                                <h3>محصولات جدید</h3>
                                <ul class="product-list product-right-sidebar border-0 p-0">

                                {% for new in products_new %}
                                    <li>
                                        <div class="offer-product">
                                            <a href="{% url 'store:product-details' slug=new.slug %}" class="offer-image">
                                                {% if new.cover %}
                                                <img src="{{ new.cover.url }}"
                                                    class="img-fluid blur-up lazyload" alt="{{ new.name }}">
                                                {% endif %}
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="{% url 'store:product-details' slug=new.slug %}">
                                                        <h6 class="name">{{ new.name }}</h6>
                                                    </a>
                                                    <span>{{ new.category.title }}</span>
                                                    {% for p in new.productpricemodel_set.all %}
                                                    {% if p.capacity.title == 'پایه' %}
                                                    <h6 class="price theme-color">{% if p.price %}{{ p.price }}{% else%}0{% endif %} ریال</h6>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- Banner Section -->
                        <div class="ratio_156 pt-25">
                            <div class="home-contain">
                                <img src="{% static 'assets/images/furniture/banner/2.png' %}" class="bg-img blur-up lazyload"
                                    alt="">
                                <div class="home-detail p-top-left home-p-medium">
                                    <div>
                                        <h6 class="text-yellow home-banner">محصولات چوب راش</h6>
                                        <h3 class="text-uppercase fw-normal"><span
                                                class="theme-color fw-bold">طراحی</span> اصیل</h3>
                                        <h3 class="fw-light">بهترین پیشنهاد</h3>
                                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                            class="btn btn-animation btn-md fw-bold mend-auto">خرید آنلاین<i
                                                class="fa-solid fa-arrow-left icon"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Left Sidebar End -->

    <!-- Related Product Section Start -->
    <section class="product-list-section section-b-space">
        <div class="container-fluid-lg">
            <div class="title">
                <h2>محصولات مرتبط</h2>
                <span class="title-leaf">
                    <svg class="icon-width">
                        <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                    </svg>
                </span>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="slider-6_1 product-wrapper">
                        {% for i in products %}
                        <div>
                            <div class="product-box-3 wow fadeInUp">
                                <div class="product-header">
                                    <div class="product-image">
                                        <a href="{% url 'store:product-details' slug=i.slug %}">
                                            {% if i.cover %}
                                            <img src="{{ i.cover.url }}"
                                                class="img-fluid blur-up lazyload" alt="">
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                                <div class="product-footer">
                                    <div class="product-detail">
                                        <span class="span-name">{{ i.category.title}}</span>
                                        <a href="{% url 'store:product-details' slug=i.slug %}">
                                            <h5 class="name">{{ i.name }}</h5>
                                        </a>
                                        <h6 class="unit">
                                            {% for j in i.color.all %}
                                            {{ j.title }}،
                                            {% endfor %}
                                        </h6>
                                        {% for p in i.productpricemodel_set.all %}
                                        {% if p.capacity.title == 'پایه' %}
                                        <h5 class="price"><span class="theme-color">{% if i.price %}{{ i.price }}{% else %}0{% endif %} ریال</span> 
                                        </h5>
                                        {% endif %}
                                        {% endfor %}
                                        <div class="add-to-cart-box bg-white">
                                            <a class="btn btn-add-cart addcart-button" href="{% url 'store:product-details' slug=i.slug %}">مشاهده
                                                
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->


    <!-- Review Modal Start -->
    <div class="modal fade theme-modal question-modal" id="writereview" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">دیدگاه خود را بنویسید</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <form class="product-review-form" method="post" action="{% url 'store:comment' id=product.pk %}">
                        {% csrf_token %}
                        <div class="product-wrapper">
                            <div class="product-image">
                                {% if product.cover %}
                                <img class="img-fluid" alt="Solid Collared Tshirts"
                                    src="{{ product.cover.url }}">
                                {% endif %}
                            </div>
                            <div class="product-content">
                                <h5 class="name">{{ product.name }}</h5>
                                <div class="product-review-rating">
                                    <div class="product-rating">
                                        <h6 class="price-number"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-box">
                            <div class="product-review-rating">
                                {{ form.rate.label_tag }}
                                <div class="product-rating">
                                    <ul class="rating">
                                        <li>
                                            <label for="id_rate_0">1-<input type="radio" name="rate" value="1" required id="id_rate_0">
                                            </label>
                                        </li>
                                        <li class="mx-2">
                                            <label for="id_rate_1"> 2-<input type="radio" name="rate" value="2" required id="id_rate_1"> 
                                            </label>
                                        </li>
                                        <li class="mx-2">
                                            <label for="id_rate_2"> 3-<input type="radio" name="rate" value="3" required id="id_rate_2">
                                            </label>
                                        </li>
                                        <li class="mx-2">
                                            <label for="id_rate_3"> 4-<input type="radio" name="rate" value="4" required id="id_rate_3">
                                            </label>
                                        </li>
                                        <li class="mx-2">
                                            <label for="id_rate_4"> 5-<input type="radio" name="rate" value="5" required id="id_rate_4">
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review-box">
                            {{ form.comment.label_tag }}
                            {{ form.comment }}
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-md btn-theme-outline fw-bold"
                                data-bs-dismiss="modal">بستن</button>
                                <input type="submit" class="btn btn-md fw-bold text-light theme-bg-color" value="ذخیره">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Review Modal End -->

{% endblock content %}