{% extends "base.html" %}

{% load static %}
{% load jalali_tags %}
{% block title %}
حساب کاربری | راش چوب
{% endblock title %}

{% block content %}
    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>حساب کاربری</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">حساب کاربری</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- User Dashboard Section Start -->
    <section class="user-dashboard-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-3 col-lg-4">
                    <div class="dashboard-left-sidebar">
                        <div class="close-button d-flex d-lg-none">
                            <button class="close-sidebar">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="profile-box">
                            <div class="cover-image">
                                <img src="{% static 'assets/images/inner-page/cover-img.jpg' %}" class="img-fluid blur-up lazyload"
                                    alt="">
                            </div>

                            <div class="profile-contain">
                                <div class="profile-image">
                                    <div class="position-relative">
                                        <img src="{% static 'assets/images/inner-page/user/1.jpg' %}"
                                            class="blur-up lazyload update_img" alt="">
                                        <div class="cover-icon">
                                            <i class="fa-solid fa-pen">
                                                <input type="file" onchange="readURL(this,0)">
                                            </i>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-name">
                                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                                    <h6 class="text-content">{{ user.username }}</h6>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active"><i
                                        data-feather="map-pin"></i>آدرس</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xxl-9 col-lg-8">
                    <div class="dashboard-right-sidebar">
                        <div class="tab-content" id="pills-tabContent">

                            <div class="tab-pane fade show active" id="pills-address" role="tabpanel">
                                <div class="dashboard-address">
                                    <div class="title title-flex">
                                        <div>
                                            <h2>ویرایش آدرس </h2>
                                            <span class="title-leaf">
                                                <svg class="icon-width bg-gray">
                                                    <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row g-sm-4 g-3">
                                        <div class="col-xxl-12 col-xl-6 col-lg-12 col-md-6">
                                            {% if messages %}
                                            <div>
                                                {% for message in messages %}
                                                    {% if message.tags == 'error' %}
                                                        <div class="alert alert-danger mb-4" role="alert">
                                                            {{ message }}
                                                        </div>
                                                    {% else %}
                                                        <div class="alert alert-{{ message.tags }} mb-4" role="alert">
                                                            {{ message }}
                                                        </div>
                                                    {% endif %}
                                                    
                                                {% endfor %}
                                             </div>
                                            {% endif %}
                                             {% if form.non_field_errors %}
                                                <div>
                                                    {% for error in form.non_field_errors %}
                                                    <div role="alert" class="alert alert-danger mb-4">
                                                        {{ error }}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            <form method="post">
                                                {% csrf_token %}
                                            <div class="row g-sm-4 g-3">
                                                <div class="col-xxl-6 col-lg-12 col-sm-6">
                                                    <div class="mb-md-4 mb-3 custom-form">
                                                        {{ form.province.label_tag }}
                                                        <div class="custom-input">
                                                            {{ form.province }}
                                                            {% if form.province.errors %}
                                                                {% for error in form.province.errors %}
                                                                    <p class="text-danger">{{ error }}</p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-6 col-lg-12 col-sm-6">
                                                    <div class="mb-md-4 mb-3 custom-form">
                                                        {{ form.city.label_tag }}
                                                        <div class="custom-input">
                                                            {{ form.city }}
                                                            {% if form.city.errors %}
                                                                {% for error in form.city.errors %}
                                                                    <p class="text-danger">{{ error }}</p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-6 col-lg-12 col-sm-6">
                                                    <div class="mb-md-4 mb-3 custom-form">
                                                        {{ form.postal_code.label_tag }}
                                                        <div class="custom-input">
                                                            {{ form.postal_code }}
                                                            {% if form.postal_code.errors %}
                                                                {% for error in form.postal_code.errors %}
                                                                    <p class="text-danger">{{ error }}</p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="col-12">
                                                    <div class="mb-md-4 mb-3 custom-form">
                                                        {{ form.address.label_tag }}
                                                        <div class="custom-textarea">
                                                            {{ form.address}}
                                                            {% if form.address.errors %}
                                                                {% for error in form.address.errors %}
                                                                    <p class="text-danger">{{ error }}</p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="submit" value="ذخیره آدرس" class="btn btn-animation btn-md fw-bold ms-auto">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- User Dashboard Section End -->
{% endblock content %}