{% extends "base.html" %}
{% load static %}
{% block title %}
راش چوب | عضویت
{% endblock title %}

{% block content %}
 <!-- Breadcrumb Section Start -->
 <section class="breadcrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <h2>عضویت</h2>
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active">عضویت</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- log in section start -->
<section class="log-in-section section-b-space">
    <div class="container-fluid-lg w-100">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="{% static 'assets/images/inner-page/signup.png' %}" class="img-fluid" alt="عضویت در راش چوب">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3>به راش چوب خوش آمدید</h3>
                        <h4>ایجاد حساب کاربری</h4>
                    </div>
                    <div>
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger mb-4" role="alert">
                                    {{ message }}
                                </div>
                            {% else %}
                                <div class="alert alert-{{ message.tags }} mb-4" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}
                            
                        {% endfor %}
                     </div>

                    <div class="input-box">
                        <form class="row g-4" method="post">
                            {% csrf_token %}
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    {{ form.username }}
                                    {{ form.username.label_tag }}
                                    {% if form.username.errors %}
                                        {% for error in form.username.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    {{ form.password }}
                                    {{ form.password.label_tag }}
                                    {% if form.password.errors %}
                                        {% for error in form.password.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    {{ form.password1 }}
                                    {{ form.password1.label_tag }}
                                    {% if form.password1.errors %}
                                        {% for error in form.password1.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-12">
                                <input class="btn btn-animation w-100" type="submit" value="ثبت نام">
                            </div>
                        </form>
                    </div>

                    <div class="other-log-in">
                        <h6></h6>
                    </div>

                    <div class="sign-up-box">
                        <h4>حساب کاربری دارید ؟</h4>
                        <a href="{% url 'accounts:sign-in' %}">وارد شوید</a>
                    </div>
                </div>
            </div>

            <div class="col-xxl-7 col-xl-6 col-lg-6"></div>
        </div>
    </div>
</section>
<!-- log in section end -->

{% endblock content %}