{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="{% static 'assets/images/favicon/7.png" type="image/x-icon' %}">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css' %}">

    <!-- wow css -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bulk-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/animate.css' %}">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font/vazir.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font/aviny.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">
</head>

<body class="theme-color-5">

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->
    <header class="">
        <div class="header-top">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-xxl-3 d-xxl-block d-none">
                        <div class="top-left-header">
                            <i class="iconly-Location icli text-white"></i>
                            <span class="text-white">ارومیه بلوار آزادگان به طرف مولوی</span>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-lg-9 d-lg-block d-none">
                        <div class="header-offer">
                            <div class="notification-slider">
                                <div>
                                    <div class="timer-notification">
                                        <h6><strong class="me-1">به راش چوب خوش آمدید !</strong>بهترین تجربه خرید را برای شما آرزو میکنیم..<strong class="ms-1">کد تخفیف خرید اول : rashchub
                                            </strong>

                                        </h6>
                                    </div>
                                </div>

                                <div>
                                    <div class="timer-notification">
                                        <h6>تا 90 درصد متریال از چوب راش درجه یک !
                                            <a href="shop-left-sidebar.html" class="text-white">خرید آنلاین
                                                </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  <div class="col-lg-3">
                        <ul class="about-list right-nav-about">
                            <li class="right-nav-list">
                                <div class="dropdown theme-form-select">
                                    <button class="btn dropdown-toggle" type="button" id="select-language"
                                        data-bs-toggle="dropdown">
                                        <img src="{% static 'assets/images/country/united-states.png"
                                            class="img-fluid blur-up lazyload" alt="">
                                        <span>انگلیسی</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="english">
                                                <img src="{% static 'assets/images/country/united-kingdom.png"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span>انگلیسی</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="france">
                                                <img src="{% static 'assets/images/country/germany.png"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span>آلمانی</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" id="chinese">
                                                <img src="{% static 'assets/images/country/turkish.png"
                                                    class="img-fluid blur-up lazyload" alt="">
                                                <span>ترکی</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="right-nav-list">
                                <div class="dropdown theme-form-select">
                                    <button class="btn dropdown-toggle" type="button" id="select-dollar"
                                        data-bs-toggle="dropdown">
                                        <span>دلار</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end sm-dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" id="aud" href="javascript:void(0)">درهم</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" id="eur" href="javascript:void(0)">یورو</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" id="cny" href="javascript:void(0)">تومان</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="top-nav top-header sticky-header">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar-top">
                            <button class="navbar-toggler d-xl-none d-inline navbar-menu-button me-2" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                                <span class="navbar-toggler-icon">
                                    <i class="fa-solid fa-bars"></i>
                                </span>
                            </button>
                            <a href="index.html" class="web-logo nav-logo">
                                <img src="{% static 'assets/images/logo/66.png' %}" class="img-fluid blur-up lazyload" alt="">
                            </a>

                            <div class="header-nav-middle">
                                <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                                    <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                                        <div class="offcanvas-header navbar-shadow">
                                            <h5>منو</h5>
                                            <button class="btn-close lead" type="button"
                                                data-bs-dismiss="offcanvas"></button>
                                        </div>
                                        <div class="offcanvas-body">
                                            <ul class="navbar-nav">
                                                <li class="nav-item dropdown dropdown-mega">
                                                    <a class="nav-link dropdown-toggle ps-xl-2 ps-0"
                                                        href="javascript:void(0)" data-bs-toggle="dropdown">خانه</a>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                        data-bs-toggle="dropdown">محصولات</a>

                                                    <div class="dropdown-menu dropdown-menu-3 dropdown-menu-2">
                                                        <div class="row">
                                                            <div class="col-xl-3">
                                                                <div class="dropdown-column m-0">
                                                                    <h5 class="dropdown-header">
                                                                        دسته‌بندی‌ها </h5>
                                                                    <a class="dropdown-item"
                                                                        href="product-left-thumbnail.html">میز و صندلی چوبی</a>
                                                                    <a class="dropdown-item"
                                                                        href="product-4-image.html">میز غذاخوری چوبی</a>
                                                                    <a class="dropdown-item"
                                                                        href="product-slider.html">صندلی غذاخوری چوبی</a>
                                                                    <a class="dropdown-item"
                                                                        href="product-sticky.html">جلو مبلی و عسلی</a>
                                                                    <a class="dropdown-item"
                                                                        href="product-accordion.html">صندلی اپن و بار</a>
                                                                    <a class="dropdown-item"
                                                                        href="product-circle.html">مبل اداری و خانگی</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 d-xl-block d-none">
                                                                <div class="dropdown-column m-0">
                                                                    <div class="menu-img-banner">
                                                                        <a class="text-title"
                                                                            href="product-circle.html">
                                                                            <img src="{% static 'assets/images/mega-menu3.jpg' %}"
                                                                                alt="banner">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 d-xl-block d-none">
                                                                <div class="dropdown-column m-0">
                                                                    <div class="menu-img-banner">
                                                                        <a class="text-title"
                                                                            href="product-circle.html">
                                                                            <img src="{% static 'assets/images/mega-menu2.jpg' %}"
                                                                                alt="banner">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 d-xl-block d-none">
                                                                <div class="dropdown-column m-0">
                                                                    <div class="menu-img-banner">
                                                                        <a class="text-title"
                                                                            href="product-circle.html">
                                                                            <img src="{% static 'assets/images/mega-menu1.jpg' %}"
                                                                                alt="banner">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li class="nav-item dropdown new-nav-item">
                                                    <label class="new-dropdown">توجه</label>
                                                    <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                        data-bs-toggle="dropdown">سوالات متداول</a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="404.html">درباره محصولات</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="about-us.html">چجوری بخرم؟</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="cart.html">نحوه ارسال</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="contact-us.html">نحوه همکاری</a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                        data-bs-toggle="dropdown">وبلاگ</a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="blog-detail.html">جزئیات وبلاگ</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="blog-grid.html">آرشیو بلاگ (شبکه ای)</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="blog-list.html">آرشیو وبلاگ (لیست)</a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                data-bs-toggle="dropdown">درباره ما</a>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                data-bs-toggle="dropdown">تماس با ما</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="rightside-box">
                                <div class="search-full">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i data-feather="search" class="font-light"></i>
                                        </span>
                                        <input type="text" class="form-control search-type" placeholder="جستجو کنید ...">
                                        <span class="input-group-text close-search">
                                            <i data-feather="x" class="font-light"></i>
                                        </span>
                                    </div>
                                </div>
                                <ul class="right-side-menu">
                                    <li class="right-side">
                                        <div class="delivery-login-box">
                                            <div class="delivery-icon">
                                                <div class="search-box">
                                                    <i data-feather="search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-side">
                                        <a href="wishlist.html" class="btn p-0 position-relative header-wishlist">
                                            <i data-feather="bookmark"></i>
                                        </a>
                                    </li>
                                    <li class="right-side">
                                        <div class="onhover-dropdown header-badge">
                                            <button type="button" class="btn p-0 position-relative header-wishlist">
                                                <i data-feather="shopping-cart"></i>
                                                <span class="position-absolute top-0 start-100 translate-middle badge">2
                                                    <span class="visually-hidden">پیام جدید</span>
                                                </span>
                                            </button>

                                            <div class="onhover-div">
                                                <ul class="cart-list">
                                                    <li class="product-box-contain">
                                                        <div class="drop-cart">
                                                            <a href="product-left-thumbnail.html" class="drop-image">
                                                                <img src="{% static 'assets/images/vegetable/product/1.png' %}"
                                                                    class="blur-up lazyload" alt="">
                                                            </a>

                                                            <div class="drop-contain">
                                                                <a href="product-left-thumbnail.html">
                                                                    <h5>شکلات قهوه ای فرانسوی با ظرف شیشه ای</h5>
                                                                </a>
                                                                <h6><span>1 x</span> 80.000 تومان</h6>
                                                                <button class="close-button close_button">
                                                                    <i class="fa-solid fa-xmark"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="product-box-contain">
                                                        <div class="drop-cart">
                                                            <a href="product-left-thumbnail.html" class="drop-image">
                                                                <img src="{% static 'assets/images/vegetable/product/2.png' %}"
                                                                    class="blur-up lazyload" alt="">
                                                            </a>

                                                            <div class="drop-contain">
                                                                <a href="product-left-thumbnail.html">
                                                                    <h5>بیسکویت کره بادام زمینی 600 گرمی
                                                                    </h5>
                                                                </a>
                                                                <h6><span>1 x</span> 25.000 تومان</h6>
                                                                <button class="close-button close_button">
                                                                    <i class="fa-solid fa-xmark"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <div class="price-box">
                                                    <h5>جمع کل :</h5>
                                                    <h4 class="theme-color fw-bold">103.000 تومان</h4>
                                                </div>

                                                <div class="button-group">
                                                    <a href="cart.html" class="btn btn-sm cart-button">سبد خرید</a>
                                                    <a href="checkout.html" class="btn btn-sm cart-button theme-bg-color
                                                    text-white">پرداخت نهایی</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-side onhover-dropdown">
                                        <div class="delivery-login-box">
                                            <div class="delivery-icon">
                                                <i data-feather="user"></i>
                                            </div>
                                            <div class="delivery-detail">
                                                <h6>سلام,</h6>
                                                <h5>حساب کاربری</h5>
                                            </div>
                                        </div>

                                        <div class="onhover-div onhover-div-login">
                                            <ul class="user-box-name">
                                                <li class="product-box-contain">
                                                    <i></i>
                                                    <a href="login.html">ورود</a>
                                                </li>

                                                <li class="product-box-contain">
                                                    <a href="sign-up.html">عضویت</a>
                                                </li>

                                                <li class="product-box-contain">
                                                    <a href="forgot.html">فراموشی رمز عبور</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- mobile fix menu start -->
    <div class="mobile-menu d-md-none d-block mobile-cart">
        <ul>
            <li class="active">
                <a href="index.html">
                    <i class="iconly-Home icli"></i>
                    <span>خانه</span>
                </a>
            </li>

            <li class="mobile-category">
                <a href="javascript:void(0)">
                    <i class="iconly-Category icli js-link"></i>
                    <span>محصولات</span>
                </a>
            </li>

            <li>
                <a href="search.html" class="search-box">
                    <i class="iconly-Search icli"></i>
                    <span>جستجو</span>
                </a>
            </li>

            <li>
                <a href="wishlist.html" class="notifi-wishlist">
                    <i class="iconly-Heart icli"></i>
                    <span>علاقه‌مندی</span>
                </a>
            </li>

            <li>
                <a href="cart.html">
                    <i class="iconly-Bag-2 icli fly-cate"></i>
                    <span>سبد خرید</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- mobile fix menu end -->

    {% block content %}
    
    {% endblock content %}

    <!-- Footer Section Start -->
    <footer class="section-t-space footer-section-2 footer-color-3">
        <div class="container-fluid-lg">
            <div class="main-footer">
                <div class="row g-md-4 gy-sm-5">
                    <div class="col-xxl-3 col-xl-4 col-sm-6">
                        <a href="index.html" class="foot-logo theme-logo">
                            <img src="{% static 'assets/images/logo/44.png' %}" class="img-fluid blur-up lazyload" alt="">
                        </a>
                        <p class="information-text information-text-2">می‌توانید ما را در شبکه‌های اجتماعی داشته باشید و از جدیدترین کارهای ما مطلع شوید.</p>
                        <ul class="social-icon">
                            <li class="light-bg">
                                <a href="https://www.instagram.com/" class="footer-link-color">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="light-bg">
                                <a href="https://google.com"
                                    class="footer-link-color">
                                    <i class="fab fa-google"></i>
                                </a>
                            </li>
                            <li class="light-bg">
                                <a href="https://telegram.org" class="footer-link-color">
                                    <i class="fab fa-telegram"></i>
                                </a>
                            </li>
                            <li class="light-bg">
                                <a href="https://whatsapp.com/" class="footer-link-color">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xxl-2 col-xl-4 col-sm-6">
                        <div class="footer-title">
                            <h4 class="text-white">دسترسی سریع</h4>
                        </div>
                        <ul class="footer-list footer-contact footer-list-light">
                            <li>
                                <a href="about-us.html" class="light-text">درباره ما</a>
                            </li>
                            <li>
                                <a href="contact-us.html" class="light-text">تماس با ما</a>
                            </li>
                            <li>
                                <a href="term_condition.html" class="light-text">شرایط و ضوابط</a>
                            </li>
                            <li>
                                <a href="careers.html" class="light-text">مشاغل</a>
                            </li>
                            <li>
                                <a href="blog-list.html" class="light-text">آخرین وبلاگ</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xxl-2 col-xl-4 col-sm-6">
                        <div class="footer-title">
                            <h4 class="text-white">لینک مفید</h4>
                        </div>
                        <ul class="footer-list footer-list-light footer-contact">
                            <li>
                                <a href="order-success.html" class="light-text">سفارش شما</a>
                            </li>
                            <li>
                                <a href="user-dashboard.html" class="light-text">حساب شما</a>
                            </li>
                            <li>
                                <a href="order-tracking.html" class="light-text">پیگیری سفارشات</a>
                            </li>
                            <li>
                                <a href="wishlist.html" class="light-text">لیست علاقه‌مندی</a>
                            </li>
                            <li>
                                <a href="faq.html" class="light-text">سوالات متداول</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xxl-2 col-xl-4 col-sm-6">
                        <div class="footer-title">
                            <h4 class="text-white">دسته ترین ها</h4>
                        </div>
                        <ul class="footer-list footer-list-light footer-contact">
                            <li>
                                <a href="vegetables-demo.html" class="light-text">جدیدترین ها</a>
                            </li>
                            <li>
                                <a href="spice-demo.html" class="light-text">پربازدیدترین ها</a>
                            </li>
                            <li>
                                <a href="bags-demo.html" class="light-text">پرفروش‌ترین ها</a>
                            </li>
                            <li>
                                <a href="bakery-demo.html" class="light-text">فانتزی‌ترین ها</a>
                            </li>
                            <li>
                                <a href="grocery-demo.html" class="light-text">سریع‌ترین ها</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-sm-6">
                        <div class="footer-title">
                            <h4 class="text-white">اطلاعات فروشگاه</h4>
                        </div>
                        <ul class="footer-address footer-contact">
                            <li>
                                <a href="javascript:void(0)" class="light-text">
                                    <div class="inform-box flex-start-box">
                                        <i data-feather="map-pin"></i>
                                        <p>بزرگترین فروشگاه اینترنتی محصولات چوبی در شمالغرب کشور</p>
                                    </div>
                                </a>
                            </li>

                            <!-- <li>
                                <a href="javascript:void(0)" class="light-text">
                                    <div class="inform-box">
                                        <i data-feather="phone"></i>
                                        <p>شماره تماس : 123-456-7890</p>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)" class="light-text">
                                    <div class="inform-box">
                                        <i data-feather="mail"></i>
                                        <p>ایمیل : info@rashchub.com</p>
                                    </div>
                                </a>
                            </li> -->

                            <li>
                                <a href="javascript:void(0)" class="light-text">
                                    <div class="inform-box">
                                        <img src="{% static 'assets/images/enamad1.png' %}" class="mx-3" style="width:100px">
                                        <img src="{% static 'assets/images/zarrinpal.png' %}" style="width:100px">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sub-footer sub-footer-lite section-b-space section-t-space">
                <div class="left-footer">
                    <p class="light-text">© تمام حقوق این وب‌سایت متعلق به راش چوب ارومیه می‌باشد.</p>
                </div>
                <!-- <ul class="payment-box">
                    <li>
                        <img src="{% static 'assets/images/icon/paymant/visa.png" class="blur-up lazyload" alt="">
                    </li>
                </ul> -->
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Tap to top and theme setting button start -->
    <div class="theme-option">

        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top and theme setting button end -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    {% block script %}
    
    {% endblock script %}
    <!-- latest jquery-->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

    <!-- jquery ui-->
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>

    <!-- Bootstrap js-->
    <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap/popper.min.js' %}"></script>

    <!-- feather icon js-->
    <script src="{% static 'assets/js/feather/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/feather/feather-icon.js' %}"></script>

    <!-- Lazyload Js -->
    <script src="{% static 'assets/js/lazysizes.min.js' %}"></script>

    <!-- Slick js-->
    <script src="{% static 'assets/js/slick/slick.js' %}"></script>
    <script src="{% static 'assets/js/slick/slick-animation.min.js' %}"></script>
    <script src="{% static 'assets/js/slick/custom_slick.js' %}"></script>

    <!-- Auto Height Js -->
    <script src="{% static 'assets/js/auto-height.js' %}"></script>

    <!-- Timer Js -->
    <script src="{% static 'assets/js/timer1.js' %}"></script>

    <!-- Quantity js -->
    <script src="{% static 'assets/js/quantity-2.js' %}"></script>

    <!-- WOW js -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/custom-wow.js' %}"></script>

    <!-- script js -->
    <script src="{% static 'assets/js/script.js' %}"></script>

    <!-- theme setting js -->
    <script src="{% static 'assets/js/theme-setting.js' %}' %}"></script>
</body>

</html>
